@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.1;
}

.w-season_img {
    width: 550px;
}